payments-summary/WF-01_ Telegram Router.json
{
  "name": "WF-01: Telegram Router",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a5ca7a45-27b3-4198-ae47-30c2fd212dd7",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -992,
        816
      ],
      "webhookId": "wf01-tg",
      "credentials": {
        "telegramApi": {
          "id": "j5C9rNWpZCK0yhWr",
          "name": "MINE TG"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === WHITELIST + ROUTER (v3) ===\n// v3: текст persistent reply-keyboard кнопок маппим в соответствующие slash-команды\n//     ДО анализа msg.text — чтобы тап по кнопке вёл по тому же маршруту, что\n//     ручной ввод /vpsk, /clear и т.д. Меню (текст кнопок) — в Send Command Reply.\n\nconst BUTTON_TO_CMD = {\n  '\\uD83D\\uDCE5 Загрузить выписку':         '/vpsk',\n  '\\uD83D\\uDD04 Сверить с банком':          '/reconcile',\n  '\\uD83D\\uDCCA Сводный реестр':            '/update',\n  '\\u2753 Незакрытые позиции':              '/missing',\n  '\\uD83D\\uDCC4 Последние записи':          '/status',\n  '\\uD83D\\uDD17 Ссылка на отчёт':           '/report',\n  '\\uD83D\\uDDD1\\uFE0F Очистить лист Банк':  '/clear',\n  '\\u2139 Помощь':                          '/help'\n};\n\nconst allowed = ($env.TELEGRAM_ADMIN_CHAT_ID || '').split(',').map(id => id.trim());\nconst msg = $input.first().json.message || {};\nconst chatId = String(msg.chat?.id || '');\n\nif (!chatId || !allowed.includes(chatId)) {\n  return [];\n}\n\n// Если пришёл текст кнопки persistent-keyboard — превращаем его в slash-команду.\nlet textForRouting = msg.text;\nif (textForRouting) {\n  const mapped = BUTTON_TO_CMD[textForRouting.trim()];\n  if (mapped) textForRouting = mapped;\n}\n\nlet outputIndex = 3;\nlet payload = { chatId };\n\nif (msg.photo && msg.photo.length > 0) {\n  outputIndex = 0;\n  payload.type = 'photo';\n  payload.file_id = msg.photo[msg.photo.length - 1].file_id;\n  payload.mime_type = 'image/jpeg'; // Telegram сжимает фото в JPEG, но WF-02/03 всё равно нормализует MIME по magic-bytes\n} else if (msg.document) {\n  const mime = msg.document.mime_type || 'application/octet-stream';\n  // Пропускаем любой документ — WF-02/03 сам выполнит MIME-нормализацию (NFR-11)\n  outputIndex = 0;\n  payload.type = 'document';\n  payload.file_id = msg.document.file_id;\n  payload.mime_type = mime;\n  payload.file_size = msg.document.file_size || 0;\n} else if (msg.voice) {\n  outputIndex = 0;\n  payload.type = 'voice';\n  payload.file_id = msg.voice.file_id;\n} else if (textForRouting && textForRouting.startsWith('/')) {\n  outputIndex = 1;\n  payload.text = textForRouting;\n} else if (textForRouting) {\n  outputIndex = 0;\n  payload.type = 'text';\n  payload.text = textForRouting;\n}\n\npayload.outputIndex = outputIndex;\nreturn [{ json: payload }];"
      },
      "id": "9c9b4331-0ffc-4278-8b15-92502eca8861",
      "name": "Whitelist + Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        816
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.outputIndex }}"
      },
      "id": "02b25b60-ce09-455c-8188-518e09c09ff6",
      "name": "Main Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -544,
        784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.qirelab.com/webhook/wf02-03-parse",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chatId: $json.chatId,\n  type: $json.type,\n  file_id: $json.file_id || '',\n  mime_type: $json.mime_type || '',\n  text: $json.text || '',\n  file_size: $json.file_size || 0\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "ee320602-7d93-4c3c-9771-f31b18978b3f",
      "name": "Call WF0203",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем ответ от HTTP Request к WF-02/03\nconst raw = $input.first().json;\nconst data = raw.confirmationText ? raw : (raw.data || raw.body || raw);\n\nif (!data.confirmationText) {\n  const prevChatId = $('Whitelist + Router').first().json.chatId;\n  return [{ json: {\n    chatId: prevChatId,\n    confirmationText: '⚠️ Ошибка обработки. Попробуйте ещё раз.'\n  }}];\n}\n\nreturn [{ json: {\n  chatId: String(data.chatId || $('Whitelist + Router').first().json.chatId),\n  confirmationText: data.confirmationText\n}}];"
      },
      "id": "265d7699-0e81-47d9-85d0-5edab28cedee",
      "name": "Merge Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        336
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.confirmationText }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "aec9180c-49d3-42c6-a401-ebbc15881d8f",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        336
      ],
      "webhookId": "wf01-send-confirm",
      "credentials": {
        "telegramApi": {
          "id": "j5C9rNWpZCK0yhWr",
          "name": "MINE TG"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === COMMAND HANDLER v2.4 ===\n// /vpsk       → routeTo: 'wf06-stmt'  (запрашиваем выписку)\n// /reconcile  → routeTo: 'wf07'       (сверка BY + PL)\n// /missing    → routeTo: 'wf07-misc'  (незакрытые позиции)\n// /report     → routeTo: 'wf07-misc'  (последний отчёт)\n// /update     → routeTo: 'wf08'       (объединение Реестр + Банк)\n// /clear      → routeTo: 'wf01-clear' (очистка листа «Банк»)  ← v2.4\n// остальные   → routeTo: 'local'      (текстовый ответ прямо здесь)\n\nconst chatId = $input.first().json.chatId;\nconst text   = $input.first().json.text || '';\nconst parts  = text.trim().split(/\\s+/);\nconst cmd    = parts[0].toLowerCase().replace(/@\\w+/, '');\nconst args   = parts.slice(1);\n\n// /vpsk\nif (cmd === '/vpsk') {\n  return [{ json: {\n    chatId,\n    routeTo: 'wf06-stmt',\n    reply: '\\uD83D\\uDCCE Пришлите выписку банка.\\n\\n'         + 'Форматы: PDF, DOCX, CSV, TXT.\\n\\n'         + 'Поддерживаются:\\n'         + '\\uD83C\\uDDE7\\uD83C\\uDDFE Приорбанк BY\\n'         + '\\uD83C\\uDDF5\\uD83C\\uDDF1 PKO Bank Polski PL\\n\\n'         + 'Можно загружать выписку несколько раз — новые транзакции будут добавлены к существующим (дубли отсеиваются). Полная очистка — /clear.\\n\\n'         + 'Сессия действует 10 минут.'\n  }}];\n}\n\n// /reconcile → WF-07\nif (cmd === '/reconcile') {\n  let period = '';\n  const p = args[0] || '';\n  if (/^\\d{4}-\\d{2}$/.test(p)) period = p;\n  return [{ json: { chatId, routeTo: 'wf07', period, mode: 'reconcile', reply: '' } }];\n}\n\n// /missing → WF-07\nif (cmd === '/missing') {\n  return [{ json: { chatId, routeTo: 'wf07-misc', mode: 'missing', reply: '' } }];\n}\n\n// /report → WF-07\nif (cmd === '/report') {\n  return [{ json: { chatId, routeTo: 'wf07-misc', mode: 'report', reply: '' } }];\n}\n\n// /update → WF-08 (объединение Реестр + Банк в общий документ)\nif (cmd === '/update') {\n  return [{ json: { chatId, routeTo: 'wf08', reply: '' } }];\n}\n\n// /clear → локальная очистка листа «Банк»  ← v2.4\nif (cmd === '/clear') {\n  return [{ json: { chatId, routeTo: 'wf01-clear', reply: '' } }];\n}\n\n// Локальные ответы\nconst replies = {\n  '/start':  '\\uD83D\\uDC4B Привет!\\n\\nОтправьте PDF, фото документа, голосовое или текст о платеже — я запишу в реестр.\\n\\nКнопки внизу — основные команды. /help — список команд.',\n  '/help':   '\\uD83D\\uDCD6 Команды:\\n/start — приветствие и меню\\n/status — последние записи\\n/vpsk — загрузить банковскую выписку\\n/reconcile [YYYY-MM] — сверка реестра с банком\\n/missing — незакрытые позиции\\n/report — ссылка на полный отчёт\\n/update — пересобрать сводный реестр\\n/clear — очистить лист «Банк»\\n/settings — настройки\\n/cancel — отмена',\n  '/cancel': '\\u2705 Отменено.',\n  '/status': '\\uD83D\\uDCCB Последние записи — в листе Реестр.'\n};\n\nlet reply = replies[cmd];\n\nif (!reply && cmd === '/settings') {\n  const sub = args.join(' ');\n  if (!sub)                           reply = '\\u2699\\uFE0F Настройки:\\n/settings recipients list\\n/settings recipients add @user\\n/settings recipients remove @user\\n/settings schedule show';\n  else if (sub === 'recipients list') reply = '\\uD83D\\uDCCB Получатели: откройте лист «Получатели» в Google Sheets.';\n  else if (sub.startsWith('recipients add'))    reply = '\\u2705 Добавьте строку в лист «Получатели»: chat_id | username | owner/accountant | TRUE';\n  else if (sub.startsWith('recipients remove')) reply = '\\u2705 Поставьте active=FALSE в листе «Получатели».';\n  else if (sub === 'schedule show')   reply = '\\uD83D\\uDD50 Сверка: 1-е число, 09:00 UTC+3 (Europe/Minsk)';\n  else                                reply = `\\u2753 Неизвестная подкоманда: ${sub}`;\n}\n\nif (!reply) reply = `\\u2753 Неизвестная команда: ${cmd}`;\n\nreturn [{ json: { chatId, routeTo: 'local', reply } }];\n"
      },
      "id": "ad47a6a4-27ae-4c90-99a1-b4274ac2ef31",
      "name": "Command Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        816
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 6,
        "output": "={{ $json.routeTo === 'wf07' ? 0 : $json.routeTo === 'wf07-misc' ? 1 : $json.routeTo === 'wf06-stmt' ? 2 : $json.routeTo === 'wf08' ? 4 : $json.routeTo === 'wf01-clear' ? 5 : 3 }}"
      },
      "id": "cd25018a-c9a5-42fc-b412-ab51035282d9",
      "name": "Command Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -96,
        784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.qirelab.com/webhook/wf07-reconcile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chatId: $json.chatId, period: $json.period || '', mode: $json.mode || 'reconcile'}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "d990d5a9-2ef1-4f03-8f98-6b7fe730f84e",
      "name": "Call WF07",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.qirelab.com/webhook/wf08-update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chatId: $json.chatId }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "a4091128-79c7-4952-9211-2d92e8e29552",
      "name": "Call WF08",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $json.chatId,\n  text: $json.reply,\n  reply_markup: {\n    keyboard: [\n      [{ text: '\\uD83D\\uDCE5 Загрузить выписку' }, { text: '\\uD83D\\uDD04 Сверить с банком' }],\n      [{ text: '\\uD83D\\uDCCA Сводный реестр' }, { text: '\\u2753 Незакрытые позиции' }],\n      [{ text: '\\uD83D\\uDCC4 Последние записи' }, { text: '\\uD83D\\uDD17 Ссылка на отчёт' }],\n      [{ text: '\\uD83D\\uDDD1\\uFE0F Очистить лист Банк' }, { text: '\\u2139 Помощь' }]\n    ],\n    resize_keyboard: true,\n    is_persistent: true\n  }\n}) }}",
        "options": {}
      },
      "id": "8a7bc0c5-3afb-4e9d-b866-8455dde298b2",
      "name": "Send Command Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { chatId: d.chatId, text: d.errorMessage || 'Не понимаю формат. Отправьте PDF/JPG/PNG, голосовое или текст.' } }];"
      },
      "id": "9ee9afc3-ec92-4e87-818b-8f4f25960130",
      "name": "Unknown Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        1040
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "cca5d5ea-07ce-4b02-b7c1-c1555545ee9f",
      "name": "Send Unknown Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        1040
      ],
      "webhookId": "wf01-send-unk",
      "credentials": {
        "telegramApi": {
          "id": "j5C9rNWpZCK0yhWr",
          "name": "MINE TG"
        }
      }
    },
    {
      "parameters": {},
      "id": "6eecc208-4695-4638-868e-01a71f14ed33",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -992,
        1424
      ]
    },
    {
      "parameters": {
        "jsCode": "let chatId = '';\ntry { chatId = $('Whitelist + Router').first().json.chatId || ''; } catch(e) { return []; }\nif (!chatId) return [];\nreturn [{ json: { chatId, text: '⚠️ Ошибка. Попробуйте ещё раз.' } }];"
      },
      "id": "c0e71339-8b87-456f-b03c-c35884c7a76f",
      "name": "Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        1424
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "c6d2dbd8-4612-48e0-9934-da925020ada3",
      "name": "Send Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -544,
        1424
      ],
      "webhookId": "wf01-send-err",
      "credentials": {
        "telegramApi": {
          "id": "j5C9rNWpZCK0yhWr",
          "name": "MINE TG"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Сессии",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "chat_id",
              "lookupValue": "={{ $json.chatId }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "e3297d20-0d11-4282-b4a1-487856bdcb45",
      "name": "Check VPSK Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -320,
        240
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "googleApi": {
          "id": "WiEOd1W5jzCojqBI",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === EVALUATE SESSION ===\n// Проверяет, активна ли сессия /vpsk для данного chatId.\n// Сессия активна только для файлов (photo/document), не для voice/text.\n// Входные данные: результат Check VPSK Session (строка из листа Сессии или пустой объект).\n// Оригинальные данные роутинга берём из Whitelist + Router.\n\nconst sessionData = $input.first().json;\nconst origData    = $('Whitelist + Router').first().json;\n\n// Сессия актуальна только для файлов\nconst isFile = (origData.type === 'photo' || origData.type === 'document');\n\nlet sessionActive = false;\nif (isFile && sessionData && sessionData.chat_id && sessionData.command === 'vpsk') {\n  try {\n    const expires = new Date(sessionData.expires_at);\n    if (expires > new Date()) sessionActive = true;\n  } catch (e) {}\n}\n\nreturn [{\n  json: {\n    ...origData,\n    _sessionRoute: sessionActive ? 1 : 0,\n    _sessionChatId: sessionData.chat_id || ''\n  }\n}];\n"
      },
      "id": "876fbd07-f767-429e-b62d-5134b89f0593",
      "name": "Evaluate Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        240
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $json._sessionRoute }}"
      },
      "id": "d9a9a606-02ab-4587-be02-7d5a84a9f185",
      "name": "Session Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        128,
        240
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Сессии",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chatId }}",
            "command": "",
            "expires_at": "2000-01-01T00:00:00.000Z"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "180c4e7a-ddcf-4d47-9530-476a28c15023",
      "name": "Clear VPSK Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        352,
        144
      ],
      "credentials": {
        "googleApi": {
          "id": "WiEOd1W5jzCojqBI",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.qirelab.com/webhook/wf06-stmt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chatId:    $('Whitelist + Router').item.json.chatId,\n  type:      $('Whitelist + Router').item.json.type,\n  file_id:   $('Whitelist + Router').item.json.file_id   || '',\n  mime_type: $('Whitelist + Router').item.json.mime_type || '',\n  file_size: $('Whitelist + Router').item.json.file_size || 0\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "517c62bf-521a-4eae-b4b6-1768def16de9",
      "name": "Call WF06 Stmt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.qirelab.com/webhook/wf07-reconcile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chatId: $json.chatId, mode: $json.mode || 'missing'}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "3f779dc3-d1d0-47e0-97d7-2655b8632357",
      "name": "Call WF07 Missing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        624
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Сессии",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "command": "vpsk",
            "expires_at": "={{ new Date(Date.now() + 600000).toISOString() }}",
            "chat_id": "={{ $json.chatId }}"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "475282d8-e7c0-4e3e-827d-5b73f6c35935",
      "name": "Write VPSK Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        128,
        1008
      ],
      "credentials": {
        "googleApi": {
          "id": "WiEOd1W5jzCojqBI",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {}
      },
      "id": "aed81dd2-39c1-4547-9c99-f5633be42157",
      "name": "Send VPSK Prompt",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        1200
      ],
      "webhookId": "wf01-send-vpsk",
      "credentials": {
        "telegramApi": {
          "id": "j5C9rNWpZCK0yhWr",
          "name": "MINE TG"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Банк",
          "mode": "name"
        },
        "clear": "specificRows",
        "startIndex": 2,
        "rowsToDelete": 10000
      },
      "id": "c1111111-1111-1111-1111-111111111101",
      "name": "Clear Bank Sheet (cmd)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        128,
        720
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rnvzuybEF91V5uQQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === /clear → confirmation ===\n// Источник chatId — Command Handler. Google Sheets clear не пробрасывает json,\n// поэтому достаём chatId из предыдущего узла напрямую.\nconst chatId = $('Command Handler').first().json.chatId;\nreturn [{ json: {\n  chatId,\n  reply: '\\uD83D\\uDDD1\\uFE0F Лист «Банк» очищен. Все банковские операции удалены.\\n\\nЗагрузить выписку снова — /vpsk.'\n}}];"
      },
      "id": "c1111111-1111-1111-1111-111111111102",
      "name": "Build Clear Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        720
      ]
    },
    {
      "parameters": {},
      "id": "cccccccc-cccc-cccc-cccc-cccccccccc01",
      "name": "Set Commands (manual)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -992,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/setMyCommands",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"commands\": [{\"command\": \"start\", \"description\": \"👋 Начало работы и меню\"}, {\"command\": \"vpsk\", \"description\": \"📥 Загрузить банковскую выписку\"}, {\"command\": \"reconcile\", \"description\": \"🔄 Сверить реестр с банком\"}, {\"command\": \"update\", \"description\": \"📊 Обновить сводный реестр\"}, {\"command\": \"missing\", \"description\": \"❓ Незакрытые позиции\"}, {\"command\": \"status\", \"description\": \"📄 Последние записи\"}, {\"command\": \"report\", \"description\": \"🔗 Ссылка на полный отчёт\"}, {\"command\": \"clear\", \"description\": \"🗑 Очистить лист «Банк»\"}, {\"command\": \"settings\", \"description\": \"⚙ Настройки уведомлений\"}, {\"command\": \"help\", \"description\": \"ℹ Список команд\"}, {\"command\": \"cancel\", \"description\": \"❌ Отменить операцию\"}]}",
        "options": {}
      },
      "id": "cccccccc-cccc-cccc-cccc-cccccccccc02",
      "name": "Set Bot Commands",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        1120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Whitelist + Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whitelist + Router": {
      "main": [
        [
          {
            "node": "Main Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Switch": {
      "main": [
        [
          {
            "node": "Check VPSK Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Command Handler",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Unknown Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF0203": {
      "main": [
        [
          {
            "node": "Merge Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Confirmation": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Handler": {
      "main": [
        [
          {
            "node": "Command Route Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Route Switch": {
      "main": [
        [
          {
            "node": "Call WF07",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF07 Missing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write VPSK Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send VPSK Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Command Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF08",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear Bank Sheet (cmd)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Bank Sheet (cmd)": {
      "main": [
        [
          {
            "node": "Build Clear Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Clear Reply": {
      "main": [
        [
          {
            "node": "Send Command Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Error": {
      "main": [
        [
          {
            "node": "Send Unknown Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error": {
      "main": [
        [
          {
            "node": "Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check VPSK Session": {
      "main": [
        [
          {
            "node": "Evaluate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Session": {
      "main": [
        [
          {
            "node": "Session Route Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Route Switch": {
      "main": [
        [
          {
            "node": "Call WF0203",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear VPSK Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear VPSK Session": {
      "main": [
        [
          {
            "node": "Call WF06 Stmt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Commands (manual)": {
      "main": [
        [
          {
            "node": "Set Bot Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "794702e3-b0a9-4ee5-b909-7ad9c4739e3a",
  "meta": {
    "instanceId": "cca9a5f9532f6dbec2cbee648be68fdaa6fd41fb5d6f078ff1e440e4d1b9b1c5"
  },
  "id": "sdfLg6PqIc0pe8fN",
  "tags": []
}